# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.so

# -----------------------
# Environments
# -----------------------
.venv/
venv/
ENV/
.env

# -----------------------
# OS
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# IDE
# -----------------------
.idea/
.vscode/

# -----------------------
# Outputs / Artifacts
# -----------------------
runs/
logs/
checkpoints/

data/
models/
videos/

*.mp4
*.gif

!assets/
!assets/evolution.gif
